[Desktop Entry]
Type=Application
Exec=gnome-terminal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=terminal1
Name=terminal-on-startup
Comment[en_US]=
Comment=
